.container.mt-4.text-center
  = form_for @task do |f|
    - if @task.errors.any?
      #error_explanation
        %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
        %ul
          - @task.errors.full_messages.each do |message|
            %li= message

    .form-group
      %h4= f.label :title
      = f.text_field :title, class: 'form-control'
    .form-group
      = f.label :description
      = f.text_field :description, class: 'form-control'
    .form-group
      .row
        .col
          = f.label :status
      .row
        .col
          = f.select :status, Task.statuses.keys, class: 'custom-select custom-select-sm'
    .form-group
      .row
        .col
          = f.label :user
      .row
        .col
          = f.select :user_id, concat_usernames(User.all)
    .actions.border-top
      .row
        .col-lg
        .col-lg
        .col-sm.mt-2
          = f.submit 'Save', class: 'btn btn-success btn-block'
